<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    {%extends "base.html" %}

    {% block content %}

        {% for post in blog_name %}
            <div>
                <h2><a href="{% url 'post' post.pk %}">{{post.title}}</a></h2>
                <p>{{post.body}}</p>
            </div>
            <a href="{% url 'update_blog' post.pk %}">update blog</a>
            <a href="{%  url 'delete_blog' post.pk %}">delete {{post.titie}}</a>
        {% endfor %}

    {% endblock content %}
</body>
</html>